.header{
    height: 64px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h2{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    color: #111111;

}
.header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}